<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<div class="container my-4">
  <h1>About us Page</h1>
  <p class="h5 text-secondary">
  Welcome to our technical tools website, where we provide a range of powerful tools designed to help you streamline your work, increase your productivity, and enhance your technical capabilities.
  <br>
  <br>
  
  Discover powerful technical tools on our website. Streamline your work and increase productivity. We update and improve our site frequently to ensure the best experience.</p>
</div>
    
<%- include("../partials/foot.ejs" , { src : "/js/tools/passwordGenrate.js" }) %>