<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<div class="container my-4">
  <h1>Contact us Page</h1>
  <p class="h5 text-secondary">You can contact me on my own email for any query <a class="text-primary" href="/tools/letter-counter">techfansweb@gmail.com</a></p>
</div>
    
<%- include("../partials/foot.ejs" , { src : "/js/tools/passwordGenrate.js" }) %>